         .wordBreak  {
                word-break:break-all
        }
         .btn {
                 border-radius: 0px;
         }
        .animaEmerge {
        background-color: transparent;
        -webkit-animation-name: emerge; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        animation-name: emerge;
        animation-duration: 4s;
        }
        .Expired {
            background-color: lightpink;
        }
        .statusDiv{
        display: inline-block; padding: 6px 12px; margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 4px;
        }
        .dropdownItem {
            padding: 1px;
        }
        .radiusZero{
        border-radius: 0;
        }

        .textBoxBody{
                background-color: transparent;
                font-size:22px;
                border-width : 1px;
                border-color:#c4dce8;
                border-style: solid;
                height: auto;
        }

        .textBoxFooter{
                background-color: #c4dce8; font-size:14px; color: #999999; height: auto;
        }

        .commentBody{
                padding-top: 1px;
                border-bottom: solid;
                border-bottom-color:#c4dce8;
                border-bottom-width: 1px;
        }

        .commentFooter{
                background-color: transparent;
                font-size:12px;
                height: auto;
                color: #333333;
        }
        .commentTimePTag{
                color: #999999;
                font-size: 10px;
        }

        .transparentAuto{
            background-color: transparent;
            height: auto;
        }

        .marginTop10{
            margin-top: 10px;
        }

        .paddingTop10{
            padding-top: 10px;
        }

        .paddingTopBottomOverflowY{
            padding-top:10px;
            padding-bottom: 70px;
            overflow-y: scroll;
        }

        .fixedBottom0{
            position: fixed;
            bottom: 0px;
            z-index: 1;
        }

        .height45{
            height: 45px;
        }

        .bgcWhite{
            background-color: #ffffff;
        }

        .bgcYellow{
            background-color: #f5dd5d;
        }

        .bgcBlue{
            background-color: #5b80b2;
        }

        .bgcGrey{
            background-color: #999999;
        }
        .bgcPink{
            background-color: #ff9ca3;
        }

        .bgcMainPinkTwo{
            background-color: #eac2cd;
        }
        .bgcMainPink{
            background-color: lightpink;
        }

        .colorBlack{
            color: black;
        }

        .wordBreakAll{
            word-break: break-all;
        }

        .heightAuto{
            height: auto;
        }
        .bgcSky{
            background-color: #79aec8;
        }

        .bgcSkyTwo{
            background-color: #c4dce8;
        }

        .bgcLightYellow{
            background-color: #f5dd5d;
        }

        .bgcLightYellowTwo{
            background-color: #ffffcc;
        }

        .bgcLightGrey{
            background-color: #cccccc;
        }



        .bgcDarkGrey{
            background-color: darkgrey;
        }

        .bgcTransparent{
            background-color: transparent;
        }

        .marginTop20{
            margin-top: 20px;
        }

        .bodyOne{
            padding-top:10px;
            padding-bottom: 70px;
            overflow-y:scroll;
        }
        .bodyTwo{
            padding-top:10px;
            padding-bottom: 90px;
        }

        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes emerge {
        from {background-color: lightskyblue;}
        to {background-color: transparent;}
        }

        /* Standard syntax */
        @keyframes emerge {
        from {background-color: lightskyblue;}
        to {background-color: transparent;}
        }