         .wordBreak  {
                word-break:break-all
        }
         .btn {
                 border-radius: 0px;
         }
        .animaEmerge {
        background-color: transparent;
        -webkit-animation-name: emerge; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        animation-name: emerge;
        animation-duration: 4s;
        }
        .Expired {
            background-color: lightpink;
        }
        .statusDiv{
        display: inline-block; padding: 6px 12px; margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 4px;
        }
        .dropdownItem {
            padding: 1px;
        }
        .radiusZero{
        border-radius: 0;
        }

        .textBoxBody{
                background-color: transparent;
                font-size:22px;
                border-width : 1px;
                border-color:#c4dce8;
                border-style: solid;
                height: auto;
        }

        .textBoxFooter{
                background-color: #c4dce8; font-size:14px; color: #999999; height: auto;
        }

        .commentBody{
                padding-top: 1px;
                border-bottom: solid;
                border-bottom-color:#c4dce8;
                border-bottom-width: 1px;
        }

        .commentFooter{
                background-color: transparent;
                font-size:12px;
                height: auto;
                color: #333333;
        }
        .commentTimePTag{
                color: #999999;
                font-size: 10px;
        }

        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes emerge {
        from {background-color: lightskyblue;}
        to {background-color: transparent;}
        }

        /* Standard syntax */
        @keyframes emerge {
        from {background-color: lightskyblue;}
        to {background-color: transparent;}
        }