<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <script src="{% static 'for1m_3.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "base.css" %}">


    <style>
        
    </style>

</head>
<body style="padding-top:10px; padding-bottom: 70px; overflow-y:scroll;">

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center" style="background-color: #79aec8; height: auto;">
            <p style="word-break: break-all"><h1>For 1 m</h1></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center" style="background-color: #f5dd5d; height: auto;">
            <p style="word-break: break-all"><h4>{% block mainSentence %}Every posts or writings will be alive for '1'minute <br>Except 'For1Month' category's things. Literally 'For1Month' things live for 1 month.{% endblock %}</h4></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center" style="background-color: darkgray; height: auto;">
            <p style="word-break: break-all"><h6>If you have anything to say, letter to my Email : for1idiot@gmail.com</h6></p>
        </div>
    </div>



{% block contents %}
    <div class="row" style="margin-top: 10px">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center" style="background-color: transparent; height: auto;">
            <div class="row">
                <div class="col-lg-4 col-md-4" style="background-color: #609ab6; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'ara' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">Arabic</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="araStatus"></p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="background-color: #cccccc; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'ben' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">Bengali</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="benStatus"></p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="background-color: #ffffcc; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'chi' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">Chinese</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="chiStatus"></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center" style="background-color: transparent; height: auto;">
            <div class="row">
                <div class="col-lg-4 col-md-4" style="background-color: #609ab6; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'eng' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">English</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="engStatus"></p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="background-color: #cccccc; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'fre' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">French</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="freStatus"></p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="background-color: #ffffcc; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'ger' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">German</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="gerStatus"></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center" style="background-color: transparent; height: auto;">
            <div class="row">
                <div class="col-lg-4 col-md-4" style="background-color: #609ab6; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'hin' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">Hindi</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="hinStatus"></p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="background-color: #cccccc; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'jap' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">Japanese</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="japStatus"></p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="background-color: #ffffcc; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'jav' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">Javanese</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="javStatus"></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center" style="background-color: transparent; height: auto;">
            <div class="row">
                <div class="col-lg-4 col-md-4" style="background-color: #609ab6; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'kor' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">Korean</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="korStatus"></p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="background-color: #cccccc; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'lah' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">Lahnda</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="lahStatus"></p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="background-color: #ffffcc; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'mal' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">Malay</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="malStatus"></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center" style="background-color: transparent; height: auto;">
            <div class="row">
                <div class="col-lg-4 col-md-4" style="background-color: #609ab6; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'por' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">Portuguese</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="porStatus"></p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="background-color: #cccccc; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'rus' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">Russian</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="rusStatus"></p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="background-color: #ffffcc; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'spa' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">Spanish</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="spaStatus"></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 10px">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center" style="background-color: transparent; height: auto;">
            <div class="row">

                <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" style="background-color: #cccccc; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'tel' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">Telugu</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="telStatus"></p></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 10px">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center" style="background-color: transparent; height: auto;">
            <div class="row">

                <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" style="background-color: #cccccc; height: auto;">
                    <div class="row">
                        <a href="{% url 'language' 'all' %}"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-default">All language</div></a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusDiv"><p id="allStatus"></p></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <a href="{% url 'month'  %}"><div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 btn btn-default text-center" style="background-color: transparent; height: auto;">
            <p>For 1 month</p>
        </div></a>
    </div>
</div>

{% endblock %}

</body>
<script>

</script>
</html>