<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>60noname</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="60noname">
    <meta name="description" content="About 60noname "/>
    <meta name="author" content="60yesname"/>
    <meta name="keywords" content="message post minute month writing text"/>
    <link rel="stylesheet" type="text/css" href="{% static "base_modified.css" %}">
    <style>

    </style>

</head>
<body class="bodyTwo">



    <div class="container-fluid" id="contentsbox">

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <p><h1>60 Seconds!</h1></p>
                <p><h5>It's game that Robot Gentleman Studio produced. see this : <a href="https://www.youtube.com/results?search_query=60seconds" target="_blank">https://www.youtube.com/results?search_query=60seconds</a></h5></p>

            <p><h2>Short explanation</h2></p>
                <p><h5>You hurry up! nuclear missile is coming. You have to equip many things before missile has arrived.
            maybe It's too short time but you can many things in 60seconds. You can take 3 people and radio and some food etc. It's amazing.</h5></p>


            <p><h3>Important things</h3></p>
                <p><h5>Food, water, radio map, axe, riple, Its all important and has own functions. You must think carefully. It's urgent situation!</h5></p>

            <p><h3>Adventure</h3></p>
                <p><h5>Someone have to seek any other helpful things outside. When you choose someone, It's very hard and asking serious choice.</h5></p>

            <p><h3>Birthday</h3></p>
                <p><h5>There are some event like birthday. But is it good to care someone's birthday under such situations? I don't know.</h5></p>

            <p><h3>Distribution</h3></p>
                <p><h5>Limited water, food, etc. You have to distribute these food and water. Let's thanks for food and water.</h5></p>

            <p><h3>Diseases</h3></p>
                <p><h5>Too much diseases and thirstiness and hungriness will overwhelm you and your family </h5></p>

            <p><h3>Waiting</h3></p>
                <p><h5>You have to wait and wait over and over again. Waiting food. Waiting water. Waiting help.</h5></p>

            <p><h3>Craziness</h3></p>
                <p><h5>Crazy is also dangerous status. Think about that situation, crazy will be very normal.</h5></p>

            <p><h3>Comments</h3></p>
                <p><h5>Enjoy this game and feel importance and strength of 60seconds.</h5></p>


            </div>


        </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center fixedBottom0">
                    <div class="row">
                        <a href="{% url 'working1' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">1</p></div></a>
                        <a href="{% url 'working2' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">2</p></div></a>
                        <a href="{% url 'working3' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">3</p></div></a>
                        <a href="{% url 'working4' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">4</p></div></a>
                        <a href="{% url 'working5' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">5</p></div></a>
                        <a href="{% url 'working6' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">6</p></div></a>
                    </div>
                    <div class="row">
                        <a href="{% url 'main' %}"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-default text-center radiusZero bgcBlack height45"><p class="h4 colorWhite">60noname</p></div></a>
                    </div>
                </div>
            </div>
        </div>



</body>
<script>

</script>
</html>