<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>60noname</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="60noname">
    <meta name="description" content="About 60noname "/>
    <meta name="author" content="60yesname"/>
    <meta name="keywords" content="message post minute month writing text"/>
    <link rel="stylesheet" type="text/css" href="{% static "base_modified.css" %}">
    <style>

    </style>

</head>
<body class="bodyTwo">



    <div class="container-fluid" id="contentsbox">

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">

                <p><h1>About 60seconds</h1></p>
                <p><h4>60 seconds are 1 minute. In 1 minute, we can do many things. There are also 1minute movies.</h4></p>
                <p><h1>3. Life</h1></p>
                <p><h5>(<a href="https://www.youtube.com/watch?v=q4XMoZmK9m8" target="_blank">https://www.youtube.com/watch?v=q4XMoZmK9m8</a>)</h5></p>
                <p><h3>Do you have a mirror?</h3></p>
                <p><h5>I didn't understand this movie. Why the girl gave some money to mirror girl? I have some thinking. Here's part of those. </h5></p>
                <p><h5>1. She gave money for her satisfying. In this case, I can think two reasons why she get satisfied. First,
                She'll be happy for helping other person. Maybe this reason is that most people help others. Second, she gave the money for feeling love herself. she saw herself in the mirror, so she could felt emotion of loving herself. </h5></p>
                <p><h5>2. She gave money for her sympathy. In this case, I can think two reasons again. First, She felt deep sympathy with that mirror girl. Seconds, she felt deep sympathy for herself in the mirror. </h5></p></h5></p>
                <p><h5>Any case, It's Good movie.</h5></p></h5></p>


                <p><h1>4. Selfie</h1></p>
                <p><h5>(<a href="https://www.youtube.com/watch?v=SM3RBWMYuUQ" target="_blank">https://www.youtube.com/watch?v=SM3RBWMYuUQ</a>)</h5></p>
                <p><h3>Do you like selfie?</h3></p>
                <p><h5>I rarely use instagram of other sns. So I don't know fun of selfie. Is that really funny? Anyway, selfie is good culture. I can see famous star's selfie at anywhere. If my loving star has sns and posts a lot of selfie,
                I'm very thanksful for that and sns founders. Because of them, I can see many pretty or handsome cool pictures of my favorite stars. Thankyou! But too much or too bad selfie might seemed to be weird. Let's be careful. Even I want posts selfie of
            my favorite people, I just bear in mind, and will not post selfies. Let's go sns our stars, and click like!</h5></p>




            </div>
        </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center fixedBottom0">
                    <div class="row">
                        <a href="{% url 'working1' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">1</p></div></a>
                        <a href="{% url 'working2' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">2</p></div></a>
                        <a href="{% url 'working3' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">3</p></div></a>
                        <a href="{% url 'working4' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">4</p></div></a>
                        <a href="{% url 'working5' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">5</p></div></a>
                        <a href="{% url 'working6' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">6</p></div></a>
                    </div>
                    <div class="row">
                        <a href="{% url 'main' %}"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-default text-center radiusZero bgcPink height45"><p class="h4 colorWhite">60noname</p></div></a>
                    </div>
                </div>
            </div>

        </div>

</body>
<script>

</script>
</html>
