<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>60noname</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="60noname">
    <meta name="description" content="About 60noname "/>
    <meta name="author" content="60yesname"/>
    <meta name="keywords" content="message post minute month writing text"/>
    <link rel="stylesheet" type="text/css" href="{% static "base_modified.css" %}">
    <script src="{% static 'addressMaker.js' %}"></script>
    <style>

    </style>

</head>
<body class="bodyTwo">

    <div class="container-fluid" id="contentsbox">

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <p><h1>Somethings to do in 60 seconds</h1></p>
                <p><h3>You can do many things within 60 seconds. Let's do it together!!</h3></p>
                <p><h2>Smile</h2></p>
                <p><h5>Smile is what is appeared in angel's face. Smile to other person. Your lover, family, and friends or some people. Maybe even he or she is very mad man, almost people will not be angry at other's warm smile.
                If you are angry now? Let's smile on yourself. Although it's meaningless some good effect will come to you.</h5></p>
                <p><h2>Rest</h2></p>
                <p><h5>Take a rest sometimes. If you are in front of your computer, take a rest for 60 seconds. Your eyes and body are being tired now. So you have to give a rest to them.</h5></p>
                <p><h2>Exercise</h2></p>
                <p><h5>Without taking a rest, taking exercise is also good to do in 60 seconds.  </h5></p>
                <p><h2>Walk</h2></p>
                <p><h5>It's another type of exercise. Simple ,easy and excellent exercise. Go out and walk the road. Smile at other people and greet each other. If sun is shining, you do not forget making vitamin using sunshine. Or It's raining Do not forget umbrella.
                Have you ever listened rihanna's famous song umbrella? It's good. It's youtube. </br>Enjoy it : <a href="https://www.youtube.com/watch?v=CvBfHwUxHIk" target="_blank">https://www.youtube.com/watch?v=CvBfHwUxHIk</a></h5></p>
                <p><h2>Meditation</h2></p>
                <p><h5>Meditation is also used by many famous people. Do you know this lyrics? 'He deals the cards as a meditations' It's lyric of 'Shape of my heart' by Sting. This song is famous for movie 'Leon The Professional'. I like this song. </br>
                (Enjoy it : <a href="https://www.youtube.com/watch?v=pm3rDbXbZRI" target="_blank">https://www.youtube.com/watch?v=pm3rDbXbZRI</a>)</br>
                Anyway meditation is great. Many people said it's great. If you have some interest, do meditate now! or whenever.</h5></p>


            </div>


        </div>


            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center fixedBottom0">
                    <div class="row">
                        <a href="{% url 'working1' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">1</p></div></a>
                        <a href="{% url 'working2' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">2</p></div></a>
                        <a href="{% url 'working3' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">3</p></div></a>
                        <a href="{% url 'working4' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">4</p></div></a>
                        <a href="{% url 'working5' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">5</p></div></a>
                        <a href="{% url 'working6' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero height45"><p class="h4 colorBlack">6</p></div></a>
                    </div>
                    <div class="row">
                        <a href="{% url 'main' %}"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-default text-center radiusZero bgcPink height45"><p class="h4 colorBlack">60noname</p></div></a>
                    </div>
                </div>
            </div>

            </div>


</body>
<script>

</script>
</html>