<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>60noname</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="60noname">
    <meta name="description" content="About 60noname "/>
    <meta name="author" content="60yesname"/>
    <meta name="keywords" content="message post minute month writing text"/>
    <link rel="stylesheet" type="text/css" href="{% static "base_three.css" %}">
    <style>

    </style>

</head>
<body style="padding-top:10px; padding-bottom: 90px;">
<span class="hiddenHOM" hidden="true" id="month">{{ post.id }}</span>



    <div class="container-fluid" id="contentsbox">

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <p><h1>Working Process</h1></p>
                <p><h5>For example, when you write for any posts at board that taking posts, your posts first will be saved at database. And at server computer,
            which is running linux, there is scheduler. The scheduler is settle to do removing tasks. Your posts will not be remained much longer even at database.</h5></p>

            <p><h1>I hope</h1></p>
                <p><h5>You do not use too much bad words. Although everyone don't know who you are, Let's use good words.</h5></p>


            <p><h1>Noname : rapper</h1></p>
                <p><h5>Fatimah Nyeema Warner, who was born September 18, 1991, is better know by her stage name : Noname.</h5></p>
                <p><h5>(See more : <a href="https://en.wikipedia.org/wiki/Noname_(rapper)">https://en.wikipedia.org/wiki/Noname_(rapper)</a>)</h5></p>
                <p><h5>Listen her good songs at: <a href="https://www.youtube.com/playlist?list=PLh9cRmQCO0q6f3berC2-nEeNXHMDPkPKT">https://www.youtube.com/playlist?list=PLh9cRmQCO0q6f3berC2-nEeNXHMDPkPKT</a></h5></p>

            <p><h1>Why this named noname?</h1></p>
                <p><h5>Because Every posts has noname. no anonymous, just noname. Without IP, without author, just noname. That's what i want.</h5></p>

            <p><h1>Rule of Main page's status symbols</h1></p>

            <p><h5>If the number of posts are larger than 0 and less than 10, there symbol will be ♥.</h5></p>
            <p><h5>Like this, 10~19 -> ♥◆, 20~39 -> ♥◆♣, 40~79 -> ♥◆♣♠, 80~159 -> ♥◆♣♠★, 160~319 -> ♥◆♣♠★♬, and else will set ♥◆♣♠★♬!!</h5></p>
            <p><h5>It's running within 60seconds posts.</h5></p>

            <p><h1>Why choose these 15 languages?</h1></p>
            <p><h5>Some web pages said those 15 languages are most used language. So i choose those. If many people ask another language, there will be update.</h5></p>

            </div>


        </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center" style="position: fixed; bottom: 0px; z-index: 1;">
                    <div class="row">
                        <a href="{% url 'working1' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero" style="height: 45px;"><p class="h4" style="color: black">1</p></div></a>
                        <a href="{% url 'working2' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero" style="height: 45px;"><p class="h4" style="color: black">2</p></div></a>
                        <a href="{% url 'working3' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero" style="height: 45px;"><p class="h4" style="color: black">3</p></div></a>
                        <a href="{% url 'working4' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero" style="height: 45px;"><p class="h4" style="color: black">4</p></div></a>
                        <a href="{% url 'working5' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero" style="height: 45px;"><p class="h4" style="color: black">5</p></div></a>
                        <a href="{% url 'working6' %}"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-default text-center radiusZero" style="height: 45px;"><p class="h4" style="color: black">6</p></div></a>
                    </div>
                    <div class="row">
                        <a href="{% url 'main' %}"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-default text-center radiusZero" style="background-color: #000000; height: 45px;"><p class="h4" style="color: white">60noname</p></div></a>
                    </div>
                </div>
            </div>

        </div>

</body>
<script>

</script>
</html>